*{
    padding: 0;
    margin: 0;
}
@media screen and (max-width: 480px){
    body{
        background-image: url(fundotdm.png);
        background-size: cover;
        background-repeat: repeat;
        /* display: flex; */
    }
    main{
        display: flex;
        flex-wrap: wrap;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        background-color: white;
        width: 80%;
        border-top: 0.7em solid #0F9E4D;
        border-right: 0.7em solid #FAEE03;
        border-bottom: 0.7em solid #4074BC;
        border-left: 0.7em solid #E71A1C;
    }
    h1{margin: 0.6em 0 0.2em 0;}
    h1 figure img{
        display: flex;
        /* justify-content: center; */
        /* align-items: center; */
        max-width: 38%;
        max-height: 15%;
        margin: 0 auto;
    }
    #niver{margin-bottom: 2.8em;}
    #niver img{
        display: flex;
        /* justify-content: center; */
        /* align-items: center; */
        max-width: 60%;
        max-height: 15%;
        margin: 0 auto;
    }
    #infos img{
        display: flex;
        /* justify-content: center; */
        /* align-items: center; */
        max-width: 58%;
        max-height: 20%;
        margin: 0 auto;
    }
    #local{
        display: flex;
        justify-content: center;
        align-items: flex-end;
        margin: 1.6em 3em;
    }
    #local img{
        max-width: 11%;
        max-height: 16%;
    }
    #localizacao{
        /* max-width: 60%; */
        height: 10%;
        background-image: url(fam.png);
        background-size: cover;
        border: 0.3em solid #147842;
        border-radius: 0.5em;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    iframe{
        padding: 1em;
        width: 80%!important;
        height: 8em!important;
    }
    #final{
        display: flex;
        justify-content: center;
        align-items: flex-end;
        margin: 0.8em 0 1em 0;
    }
    #final img{
        max-width: 50%;
        max-height: 20%;
    }
    #final a{
        max-width: 25%;
    }
    #final button{
        display: flex;
        background-color: #224A84;
        border-radius: 0.3em;
        align-items: center;
        justify-content: center;
        padding: 0.4em 0.1em;
    }
    #final button img{
        width: 24em;
        height: 0.5em;
    }
    button:hover{
      cursor: pointer;
    }
    footer{
        margin: 0 0 0.5em 0;
    }
    footer img{
        display: flex;
        /* justify-content: center; */
        /* align-items: center; */
        max-width: 78%;
        max-height: 65%;
        margin: 0 auto;
    }
}
